@use '../../common.scss';

$primary-color: #1a73e8;
$error-color: red;

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  width: 800px; /* 设置固定宽度 */

  h2 {
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  label {
    display: block;
    margin: 10px 0;
  }

  .radioGroup {
    display: flex;
    justify-content: flex-start; /* 在一行中均匀分布 */
    margin-bottom: 10px; /* 与其他元素的间距 */
    gap: 32px;

    label {
      margin: 0; /* 去掉 margin，使其靠近 */
    }
  }

  input[type="file"] {
    margin-top: 10px; /* 文件选择器与其他元素的间距 */
    padding: 5px; /* 添加内边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 圆角效果 */
  }

  textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 5px; /* 添加内边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 圆角效果 */
  }

  button {
    margin-top: 10px;
    margin-right: 10px;
    border: none; /* 去掉边框 */
    border-radius: 4px; /* 圆角效果 */
    padding: 10px 20px; /* 内边距 */
    cursor: pointer; /* 鼠标悬停时显示为可点击 */

    &.primary {
      background-color: $primary-color; /* 按钮背景颜色 */
      color: white; /* 按钮文字颜色 */
    }
  }
}

.error {
  color: $error-color; /* 错误信息为红色 */
  margin-top: 10px; /* 与其他元素的间距 */
  text-align: left; /* 错误信息居中 */
}
